@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #131719;
  color: white;
}

* {
  box-sizing: border-box;
}

image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
